1.munit-testsuite-testcase/src/main/mule/1.munit-testsuite-testcase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="basicCalculator" doc:id="34999085-5730-43ff-88d1-57ec82095459" >
		<http:listener doc:name="HTTP POST" doc:id="f3270b3d-cccd-455c-a955-b907c652a458" config-ref="HTTP_Listener_config" path="/calculator" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Log START" doc:id="81eece4d-6fcb-494b-b25d-da7e9f822d7b" message='#["LOG START"]'/>
		<ee:transform doc:name="Transform Message" doc:id="7c399738-f6cf-45e0-9d95-1713c9f765a7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

var valueA = payload.a default 0
var valueB = payload.b default 0

output application/json
---
{
	SUM: valueA + valueB,
	DIFFERENCE: valueA - valueB,
	PRODUCT: valueA * valueB,
	FACTOR: valueA / valueB
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log CALCULATOR" doc:id="92ac3f5e-6fa2-4322-be9b-8cd5416afb5c" message="#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;payload]"/>
		<logger level="INFO" doc:name="Log END" doc:id="4b49d197-a556-41b7-91d7-5d1b67bed38d" message='#["LOG END"]'/>
	</flow>
</mule>
