7.munit-verify-call/src/main/mule/7.munit-verify-call.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="getUserNameByID" doc:id="911fb9fb-f1ed-46b9-9bc2-a5b1461d5696" >
		<http:listener doc:name="HTTP GET" doc:id="af5e4607-8765-450b-a281-940f02bf17ae" config-ref="HTTP_Listener_config" path="/client/{userID}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log START" doc:id="5b843490-830c-43c3-8ec4-81059245d882" message='#["LOG START"]'/>
		<set-payload value="#[attributes.uriParams.userID]" doc:name="Set Payload - userID" doc:id="e7ba5465-de0b-4115-b9f3-1a66eb1ce076" />
		<logger level="INFO" doc:name="Log payload - userID" doc:id="7a1cd936-c63f-4b16-89a8-4105b4cd4f87" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"userID": payload&#10;}]'/>
		<flow-ref doc:name="Flow Reference - getUserName" doc:id="8c7cf064-1bd8-4722-bbb2-c28a1bc73a66" name="getUserName"/>
		<set-payload value="#[vars.userName]" doc:name="Set Payload - userName" doc:id="c7e5c9c8-beb1-4dd4-8c93-dc6d3477c364" />
		<logger level="INFO" doc:name="Log END" doc:id="e77ec2b5-54dc-40f7-a9b4-e749eeceb4c9" message='#["LOG END"]'/>
	</flow>
	<flow name="getUserName" doc:id="6341db57-739e-4f33-92bb-59f8ccbfe9c0" >
		<logger level="INFO" doc:name="Log START" doc:id="a6b77eda-4789-4e2d-9df4-f2dd259cec34" message='#["LOG START - getUserName"]'/>
		<choice doc:name="Choice" doc:id="189d6a2f-1732-4f5f-a945-3ad938a8291a" >
			<when expression="#[payload &gt; 1]">
				<flow-ref doc:name="Flow Reference - sub_Flow1" doc:id="2f5e9b7c-10fa-451c-87b3-5d56b1baf9d9" name="sub_Flow1"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference - sub_Flow2" doc:id="b4dcf531-4dbd-4e94-8d1d-eec923aebab1" name="sub_Flow2"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log END" doc:id="3ada1f01-848d-40f7-b939-7eb82e89db63" message='#["LOG END - getUserName"]'/>
	</flow>
	<sub-flow name="sub_Flow1" doc:id="8aa998ce-fcbe-4c21-b30b-834e6b145e32" >
		<set-variable value='#["John Doe"]' doc:name="Set Variable - userName" doc:id="4888dffe-e2dd-4718-8c52-70df5a7199c7" variableName="userName"/>
		<logger level="INFO" doc:name="Log userName" doc:id="802fdee9-930e-4f27-bbc9-ab2c6599112f" message='#["Log vars.userName: " ++ vars.userName]'/>
	</sub-flow>
	<sub-flow name="sub_Flow2" doc:id="b34d9c93-600c-4ea3-a254-99febcf5c665" >
		<set-variable value='#["Admin"]' doc:name="Set Variable - userName" doc:id="a6e6c537-b8e7-49b1-8ebe-4c9e9f5ccb86" variableName="userName"/>
		<logger level="INFO" doc:name="Log userName" doc:id="8f909267-d2a3-4ff7-8499-40f4bfe1fa34" message='#["Log vars.userName: " ++ vars.userName]'/>
	</sub-flow>
</mule>
