.tooling-apps-cache/test/3.munit-parameterized_test_suites/3.munit-parameterized_test_suites.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="createFullName" doc:id="072eaaab-26a1-4d10-89bb-df27644056dc" >
		<http:listener doc:name="HTTP GET" doc:id="6fe80c59-f17e-4260-b5bd-61b20b560698" config-ref="HTTP_Listener_config" path="/fullName" allowedMethods="GET"/>
		<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"fullName": Mule::p("firstName") ++ " " ++ Mule::p("lastName")&#10;}]' doc:name="Set Payload" doc:id="b5ef2146-b044-4780-a1a9-dbf1b355e76b" />
		<logger level="INFO" doc:name="Log PAYLOAD" doc:id="166f2d8c-81d6-40e5-ab6a-46dd8ce9a355" message="#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;payload]"/>
		<logger level="INFO" doc:name="Log END" doc:id="415426a3-eda0-4ae3-810f-e4f715a366f8" message='#["LOG END"]'/>
	</flow>
</mule>
