.tooling/5.munit-mock-when18c9c1c1-f780-42cf-a5bb-cab918207a8c/5.munit-mock-when.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="getAnimals" doc:id="7c2c9f55-4e4f-4211-bab4-afcdd9d86b3a" >
		<http:listener doc:name="HTTP GET" doc:id="755ec25c-9a7d-4b4f-9168-2123414682e3" config-ref="HTTP_Listener_config" path="/mock-when-animals" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log BEFORE REQUEST" doc:id="c45473cd-3b90-4074-bea4-e9a3f9bf3851" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;"Log BEFORE REQUEST"]'/>
		<http:request method="GET" doc:name="GET Request" doc:id="f20c6c53-849f-4533-a925-503d9298eaf1" />
	</flow>
</mule>
